/* * {
    scroll-behavior: smooth;
} */
html {scroll-behavior: smooth;}
.pages {
    width : 1440px;
    margin: 0 auto;
    color: rgb(51, 51, 51);
}
a {
    text-decoration: none;
    color: rgb(51, 51, 51);
}
header {    
    background-image: url("images/arbre.jpg");
    background-repeat: no-repeat;
    height: 1000px;
    margin-bottom: 15px;
}
.mainMenu {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
h1 {
    text-align: left;
}
header p , header h2 {
    text-align: end;
}
header h2 {    
    margin-top: 550px;
    font-size: 50px;
}
button {
    background: transparent;
    border-color: rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    width: 10%;
    height: 50px;
    float:right; 
    margin-right: 35px;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    text-align: center;
    scroll-behavior: smooth;

}
.container1 {
    display: flex;
    background-color: rgb(179, 179, 179,0.3);
}
.container2 {
    display: flex;
    justify-content: space-around;
    min-height: 300px;
}
article {
    background-color: rgb(14, 12, 12,0.9);
    margin: 10px;
    color: rgb(255, 240, 240);
    border-left: outset rgb(255, 166, 0);
}
.container3 > img {
    width: 60px;
}
.container3 {
    background-color: rgb(179, 179, 179,0.3);
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
}
.container4 , .container5 {
    display: flex;
    justify-content: space-around;
}
 img {
    max-width: 75%;
    max-height: 300px;
} 
.container6 ,.container7, .container8{
    display: flex;
    justify-content: space-around;
    margin-top: 75px;
}
.footContainer {
    display: flex;
}
footer {
    background-color: rgba(95, 95, 95, 0.9);
    color: white;
    text-align: center;
    bottom:0;
    width:100%;
}
.footContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
 .footMenu ,.footMenu2, .footMenu3 {
    display: flex;
    flex-direction: column;
} 